.container1{
    min-width: 75%; 
    width: 1400px;
    margin: 0 auto;  
    position: relative;
    min-height: 100vh;
    border-right: 1px solid black;
    border-left: 1px solid black;

  

}


