.section4{
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    /* border-right: 1px solid black;
    border-left: 1px solid black; */
    
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 700px;
    padding-top: 80px;


}
.section4 img{
    width: 470px;
    height: 470px;
    border: 1px solid white;
    opacity: 1;
    padding: 0 20px;
}
.info h2{
    width: 341px;
    height: 53px;
    opacity: 1;
    font-weight: 700;
    font-style: Bold;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
   
}
.info p{
    width: 570px;
    height: 91px;
    opacity: 1;
    font-family: Product Sans;
    font-weight: 400;
    font-style: Regular;
    font-size: 23px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #ABABAB;


}
.button3{
    width: 242px;
    height: 78px;
    border: 1px solid #272727;
    opacity: 1;
    border-width: 1px;
    color: black;
    background-color: transparent;
    font-size: 20px;

}
.button3:hover {
   background-color: rgba(255, 255, 255, 0.1); /* subtle light glow */
  transform: scale(1.05); /* slight zoom */
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.4); /* soft glow */
}
