.container3{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    /* border-right: 1px solid black;
    border-left: 1px solid black; */

}
.title2{
margin-left: 500px;
margin-top: 20px;
width: 524px;
height: 53px;
opacity: 1;
font-weight: 700;
font-style: Bold;
font-size: 30px;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;

}
.container3 p{
margin-left: 350px;
width: 685px;
height: 84px;
opacity: 1;
font-family: Product Sans;
font-weight: 400;
font-style: Regular;
font-size: 21px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
color: #8A8A8A;


}
.pictures{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 90px;
}
.image{
     display: flex;
    flex-direction: column;
    width: 190px;
    margin-top: 10px;
    width: 405px;
    height: 474px;
    opacity: 1;
    margin-bottom: 30px;

    

}
#pic2{
    min-height: 505px;
}
#pic3{
    min-height:500px ;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15PX;
    gap: 8px;
    
   
}

.details span{
    width: 35px;
    height: 28px;
    opacity: 1;
    font-weight: 700;
    font-style: Bold;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-right: 10px;
    text-transform: capitalize;


}
.details p{
    width: 88px;
    height: 28px;
    opacity: 1;
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: 0%;
    margin: 0;
    text-transform: capitalize;

}







