.regitser-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #f64f59 , #c471ed, #12c2e9);
}
.wrapper{
    position : relative;
    width: 450px;
    height: 510px;
    background: rgba(255, 255, 255, .2);
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(0,0,0,.1);
    padding: 50px;
}
.form-wrapper{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

}
.wrapper h2{
    font-size: 38px;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 40px;
    left: 160px;

}
.input-group{
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}
.input-group label{
    position: absolute;
    top: 50%;
    left: 5px ;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.input-group input{
    width: 320px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
    padding-top: 3px;

}
/* Move label up when focused OR when input is not empty */
.input-group input:focus ~ label,
.input-group input:not(:placeholder-shown) ~ label {
  top: -4px;

}

.remember{
    /* margin: -5px 0 20px 5px; */
     margin-bottom: 7px;
     margin-left: 3px;


}
.remember label {
  color: #fff;
  font-size: 16px;
}
.remember label input{
    accent-color: #f4157e;
}
 .wrapper button{
    position: relative;
     width: 100%;
     height: 42px;
     background: #f4157e;
     font-size: 16px;
     color: #fff;
     cursor: pointer;
     border-radius: 30px;
     border: none;
     outline: none;
     
     
}
.wrapper button:hover{
        
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

.signUp-link {
font-size: 17px;
text-align: center;
margin: 20px 0;

}
.signUp-link p{
    color: #fff;   
}
.signUp-link p span{
    color: #f4157e;
    text-decoration: none;
    font-weight: 540;
    cursor: pointer;
    font-size: 19px;
    padding-left: 3px;

}
.signUp-link p span:hover{
    text-decoration: underline;

}
.problems{
  position: absolute;
  top: 250px;
}
#problem2{
  top:288px ;
}



